.wrap {
    background-color: lightgray;
}

.wrap__dark {
    background-color: darkslategray;
}

.paginator_wrap {
    /*display: flex;*/
    /*justify-content: center;*/
    transform: translateY(-120%);
    width: max-content;
    margin: 0 50%;
}

.container_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
    gap: 20px;
}