card {
    max-width: 350px;
    margin-right: 0;
    /*max-height: 850px;*/
}

.card-body {
    height: 540px;
}

card > img {
    height: 350px !important;
}

.card_item > a {
    text-decoration: none;
}

.card_text__light {
    color: #100b0b;
}

.card_text__dark {
    color: #eae4e4;
}

.overview_text {
    height: 150px;
    overflow: hidden;
}